button {
    cursor: pointer;
}

h1 {
    font-size: 35px;
    text-align: center;
    color: orange;
    font-family: ui-monospace;
}

.characters-list {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: start;
    flex-wrap: wrap;
    min-height: 85vh;
    padding-left: 60px;
}

.example-card {
    width: 19%;
    margin: 18px;
}

.material-icons{
    font-size: 30px;
    margin-left: -5px;
}

.favorites{
    display: block;
    margin: 0px auto;
    width: 75%;
}

.header_favorites{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.broom{
    padding-top: 95px;
    cursor: pointer;
    transition: 500ms;
    margin-right: 110px;
}

.broom:hover{
    color: orange;
}

.clean{
    margin-right: 10px;
    margin-bottom: 5px;
}

::ng-deep .mat-dialog-container{
    background: black!important;
}

/* -----------------MEDIA QUERYS----------------- */

/* Desde 0px hasta 576px */
@media (max-width: 576px) {

    /* Se ejecutan estos estilos */
    .characters-list {
        flex-direction: column;
        padding-left: 0px;
    }

    .example-card {
        width: 89%;
        margin: 0px;
        margin-bottom: 25px;
    }

    ::ng-deep .ngx-pagination {
        width: 85% !important;
    }
}

@media (max-width: 768px) {}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}