.btn {
    font-size: 15px;
    border-radius: 10px;
    width: 50%;
    background-color: orangered;
    color: white;
    cursor: pointer;
    transition: 300ms;
    margin-left: 3px !important;
}

.btn:hover {
    box-shadow: #df9000 0px 0px 15px 3px inset;
}

img {
    margin: 18px;
    width: 85%;
    height: 325px;
}

.buttons-wrap {
    margin: 0px auto;
    width: 77%;
    padding-left: 15px;
}

.orange-start {
    color: orange;
    box-shadow: 0px 0px 5px 3px orange;
    border-radius: 10px;
}


::ng-deep .mat-list-item-content {
    padding: 0px !important;
}

::ng-deep .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 25px !important;
}

::ng-deep .mat-card {
    background: center !important;
}

::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 20px 30px rgb(0 0 0 / 20%), 0px 1px 0px 0px rgb(0 0 0 / 14%), 0px 1px 20px 0px rgb(0 0 0 / 12%);
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    color: #fff;
    background-color: black;
    width: 40%;
}

.material-icons:hover {
    color: orange;
    box-shadow: 0px 0px 6px 3px orange;
    border-radius: 10px;
}

.mat-form-field {
    margin-right: 8px;
}

/* -----------------MEDIA QUERYS----------------- */

@media (max-width: 1669px) {
    .buttons-wrap {
        width: 100%;
        padding-left: 0px;
    }
}

@media (max-width: 1440px) {
    .buttons-wrap {
        width: 100%;
        padding-left: 0px;
    }
}

@media (max-width: 1200px) {
    .buttons-wrap {
        margin: 0px auto;
        width: 100%;
        padding-left: 0px;
    }
}

@media (max-width: 992px) {
    .buttons-wrap {
        width: 100%;
        padding-left: 0px;
    }
}

/* Desde 0px hasta 576px */
@media (max-width: 576px) {

    /* Se ejecutan estos estilos */
    .buttons-wrap {
        width: 100%;
        padding-left: 0px;
    }
}