<div class="favorites">
    <div class="header_favorites">
        <h1>Lista de favoritos</h1>
        <div *ngIf="!myListIsEmpty()" class="broom">
            <a (click)="openDialog()" class="material-icons">
                delete
            </a>
        </div>
    </div>

    <div class="characters-list">
        <div class="NotCharacters" *ngIf="myListIsEmpty() ;else lsFavorites">
            <app-no-character-found></app-no-character-found>
        </div>
        <ng-template #lsFavorites>
            <mat-card *ngFor="let character of (myListFavorites$ | async)" class="example-card">
                <app-character-card [character]="character"></app-character-card>
            </mat-card>
        </ng-template>
    </div>
</div>