ul {
    list-style: none;
    width: 106%;
    margin-left: -45px !important;
}

li {
    border-bottom: 1px solid rgb(109, 109, 109);
    cursor: pointer;
}

p {
    text-align: center;
    margin: 10px;
}

span {
    padding: 2px;
    border-radius: 5px;
    background: orangered;
    margin-left: 1px;
}