ul {
    list-style: none;
    width: 106%;
    margin-left: -45px !important;
}

li {
    border-bottom: 1px solid rgb(109, 109, 109);
    cursor: pointer;
}

p {
    text-align: center;
    margin: 10px;
}

button:hover, p:hover {
    color: orange;
}

span {
    padding: 2px;
    border-radius: 5px;
    background: orangered;
    margin-left: 1px;
}

::ng-deep .mat-drawer-inner-container {
    width: 97%;
    overflow: unset;
    background: black;
}

button {
    text-align: center;
}

button:hover {
    background: black !important;
}

::ng-deep .mat-menu-content,
.ng-tns-c48-1 {
    background: #df531f !important;
    padding: 0px !important;
}

::ng-deep .mat-menu-panel{
    border-radius: 1px!important;
}

