<ul>
    <li (click)="closeNavbar()" [routerLink]="['/fighters']">
        <p>GUERROS Z</p>
    </li>
    <li (click)="closeNavbar()" [routerLink]="['/favorites']">
        <p *ngIf="myList.length > 0; else templateName">
            FAVORITOS <span> {{myList.length}}</span>
        </p>
        <ng-template #templateName>
            <p>FAVORITOS</p>
        </ng-template>
    </li>
    <li>
        <button mat-menu-item [matMenuTriggerFor]="universes">UNIVERSOS</button>
        <mat-menu #universes="matMenu">
            <div *ngFor="let universeNumber of allUniverses">
                <button (click)="closeNavbar()" [routerLink]="universeNumber | universeLink"  routerLinkActive="active" mat-menu-item>universo {{universeNumber}}</button>
            </div>
        </mat-menu>
    </li>
</ul>