.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

p {
    color: red;
    font-size: 25px;
}

button {
    margin-top: 10px;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    width: 8%;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 300ms;
}

button:hover {
    box-shadow: #df9000 0px 0px 15px 3px inset;
}