.example-container {
    width: 100%;
    background-image: url(.././app/images/50.jpg);
    overflow: auto !important;
}

.example-sidenav {
    width: 170px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.material-icons {
    font-size: 50px;
    color: orange;
    margin-left: 20px;
}

.btn-close {
    width: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    justify-content: flex-end;
    margin-bottom: 20px;
}

::ng-deep .mat-drawer-content {
    height: 100vh !important;
}

p {
    margin-top: 20px;
    font-size: 18px;
}

.p-link {
    cursor: pointer;
    margin-right: -12px;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    padding: 0px;
}