.example-container {
    width: 100%;
    background-image: url(.././app/images/50.jpg) ;
    overflow: auto!important;
}

.example-sidenav{
    width: 170px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.example-sidenav-content{
    width: 170px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: fixed;
    position: 0;
}

.material-icons{
    margin-top: 15px;
    font-size: 40px;
    color: orange;
}

.btn-close{
    width: 100%;
    float: right;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#btn-close-children{
    background-color: black;
    border: #424242;
    cursor: pointer;
}

::ng-deep .mat-drawer-content{
    height: 100vh!important;
}

p{
    margin-top: 27px;
    font-size: 18px;
    margin-right: 7px;
}

.p-link{
    cursor: pointer;
}
