<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav class="example-sidenav" #sidenav (keydown.escape)="close('escape')" disableClose>
        <div class="btn-close">
            <p class="p-link" [routerLink]="['/home']">INICIO</p>
            <button mat-button (click)="close('toggle button')">
                <span class="material-icons">
                    close
                </span>
            </button>
        </div>
        <!-- Contenido del navBar -->
        <app-navbar (close)="close('toggle button')"></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.open()">
                <span class="material-icons">
                    menu
                </span>
            </button></p>
        <!-- Rutas dinámicas -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>